:root {
    --primary: #131313;
    --secondary: #F3F3F3;
    --white: #FFFFFF;
    --black: #000000;
}

.about-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: var(--primary);
}

.about-img-one-container {
    position: relative;
    margin-top: 40px;
    width: 374px;
    height: 374px;
}

.about-img-wh {
    width: 350px;
    height: 400px;
}

.about-img-one {
    position: absolute;
    z-index: 30;
}

.img-bg-one {
    background-color: var(--secondary);
    position: absolute;
    z-index: 20;
    top: 8px;
    left: 8px;
}

.img-bg-two {
    background-color: var(--primary);
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
}

.about-section-two {
    padding: 296px 0 104px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-two p {
    margin-top: 36px;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
    .about-section-one {
        align-items: end;
        height: 200px;
        width: 100%;
        padding-right: 70px;
    }

    .about-img-one-container {
        position: relative;
        margin-top: 40px;
        width: 350px;
        height: 1050px;
    }

    .about-img-wh {
        width: 350px;
        height: 1050px;
    }

    .about-section-two {
        padding: 80px 0 152px 70px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .about-section-one {
        align-items: end;
        height: 200px;
        width: 100%;
        padding-right: 70px;
    }

    .about-img-one-container {
        position: relative;
        margin-top: 40px;
        width: 520px;
        height: 1380px;
    }

    .about-img-wh {
        width: 520px;
        height: 1380px;
    }

    .about-section-two {
        padding: 80px 0 152px 70px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}

