:root {
    --primary: #131313;
    --secondary: #F3F3F3;
    --white: #FFFFFF;
    --black: #000000;
}

.exhibitions-section-one {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    /*position: relative;*/
    height: 224px;
    width: 100%;
}

.exhibition-container {
    position: relative;
    width: 145px;
    height: 145px;
}

.exhibition-img-containers {
    position: absolute;
}

.img-one-container {
    z-index: 10;
}

.img-two-container {
    z-index: 20;
    top: 76px;
    right: 55px;
}

.img-three-container {
    z-index: 30;
    top: 126px;
    left: 50px;
}

.exhibitions-img-shadow {
    height: 88px;
    width: 350px;
    position: absolute;
    z-index: 10;
    top: 260px;
    left: -97px;
}

.exhibition-img-one-container {
    position: relative;
    width: 145px;
    height: 145px;
}

.img-one-wh {
    width: 145px;
    height: 145px;
    position: absolute;
}

.exhibitions-img-one {
    z-index: 20;
}

.exhibition-img-desktop {
    display: none;
}

.exhibition-img-one-bg {
    background-color: var(--secondary);
    top: 8px;
    left: 8px;
    z-index: 10;
}

.exhibition-img-two-container {
    position: relative;
    width: 120px;
    height: 172px;
}

.img-two-wh {
    width: 120px;
    height: 172px;
    position: absolute;
}

.exhibitions-img-two {
    z-index: 30;
}

.exhibition-img-two-bg-one {
    background-color: var(--secondary);
    top: 8px;
    right: 8px;
    z-index: 20;
}

.exhibition-img-two-bg-two {
    background-color: var(--primary);
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.exhibition-img-three-container {
    position: relative;
    width: 160px;
    height: 158px;
}

.img-three-wh {
    width: 160px;
    height: 158px;
    position: absolute;
}

.exhibitions-img-three {
    z-index: 30;
}

.exhibition-img-three-bg-one {
    background-color: var(--secondary);
    top: 8px;
    right: 8px;
    z-index: 20;
}

.exhibition-img-three-bg-two {
    background-color: var(--primary);
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.exhibitions-section-two {
    padding: 220px 40px 40px 40px;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .exhibitions-section-one {
        height: 656px;
        padding: 120px 70px 0 70px;
    }

    .exhibitions-section-two {
        padding: 796px 40px 40px 40px;
    }

    .exhibition-container {
        width: 540px;
        height: 540px;
    }

    .exhibitions-img-shadow {
        height: 320px;
        width: 1300px;
        top: 950px;
        left: -361px;
    }

    .img-two-container {
        top: 287px;
        right: 206px;
    }

    .img-three-container {
        top: 477px;
        left: 187px;
    }

    .exhibition-img-one-container {
        width: 540px;
        height: 540px;
    }

    .img-one-wh {
        width: 540px;
        height: 540px;
    }

    .exhibition-img-mobile {
        display: none;
    }

    .exhibition-img-desktop {
        display: block;
    }

    .exhibition-img-two-container {
        width: 449px;
        height: 646px;
    }

    .img-two-wh {
        width: 449px;
        height: 646px;
    }

    .exhibition-img-three-container {
        width: 581px;
        height: 581px;
    }

    .img-three-wh {
        width: 581px;
        height: 581px;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}

