:root {
    --primary: #131313;
    --secondary: #F3F3F3;
    --white: #FFFFFF;
    --black: #000000;
}

.index-section-one {
    height: 571px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.section-one-container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-img-one-container {
    position: relative;
    margin-top: 113px;
    width: 374px;
    height: 374px;
}

.index-img-wh {
    width: 350px;
    height: 350px;
}

.index-img-one {
    position: absolute;
    z-index: 30;
}

.img-bg-one {
    background-color: var(--secondary);
    position: absolute;
    z-index: 20;
    top: 8px;
    left: 8px;
}

.img-bg-two {
    background-color: var(--primary);
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
}

.index-section-two {
    height: 691px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.section-two-container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .index-section-one {
        flex-direction: row;
        justify-content: space-between;
        height: 656px;
        padding: 24px 70px 0 70px;
    }

    .section-one-container-one {
        width: fit-content;
    }

    .index-img-one-container {
        margin-top: 24px;
        width: 672px;
        height: 672px;
    }

    .index-img-wh {
        width: 640px;
        height: 640px;
    }

    .index-section-two {
        height: 800px;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 80px 70px 0 70px;
    }

    .section-two-container-one {
        width: fit-content;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}

