:root {
    --primary: #131313;
    --secondary: #F3F3F3;
    --white: #FFFFFF;
    --black: #000000;
}

.tickets-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: var(--primary);
}

.tickets-img-one-container {
    position: relative;
    margin-top: 40px;
    width: 374px;
    height: 374px;
}

.tickets-img-wh {
    width: 350px;
    height: 604px;
}

.ticket-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets-img-one {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 40px 0 0 0;
    z-index: 30;
}

.img-bg-one {
    background-color: var(--secondary);
    position: absolute;
    z-index: 20;
    top: 8px;
    left: 8px;
}

.img-bg-two {
    background-color: var(--primary);
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
}

.events-header{
    padding-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
}

.section-one-header {
    color: var(--secondary);
}

.events-img-one {
    width: 350px;
    height: 304px;
    margin-top: 88px;
}

.tickets-section-two {
    height: 1200px;
    padding: 500px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
    .tickets-img-one-container {
        width: 700px;
        height: 350px;
    }

    .tickets-img-wh {
        width: 700px;
        height: 350px;
    }

    .tickets-img-one {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 70px 0 70px;
    }

    .events-img-one {
        width: 250px;
        height: 250px;
        margin-top: 0;
    }

    .tickets-section-two {
        height: 650px;
        padding: 200px 0 40px 0;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .tickets-img-one-container {
        width: 1120px;
        height: 512px;
    }

    .tickets-img-wh {
        width: 1120px;
        height: 512px;
    }

    .tickets-img-one {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 70px 0 70px;
    }

    .events-img-one {
        width: 500px;
        height: 450px;
        margin-top: 0;
    }

    .tickets-section-two {
        height: 1050px;
        padding: 400px 0 40px 0;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}

